---
interface Props {
  gcode: string;
}

const { gcode } = Astro.props;
---

<div class="w-full h-64 relative" id="preview-container">
  <canvas id="gcode-preview" class="w-full h-full bg-gray-100 dark:bg-gray-800"></canvas>
</div>

<script define:vars={{ gcode }}>
  import * as GCodePreview from 'gcode-preview';

  // Initialize preview when component mounts
  const canvas = document.getElementById('gcode-preview');
  if (canvas instanceof HTMLCanvasElement) {
    const preview = GCodePreview.init({
      canvas,
      extrusionColor: ['#FFFFFF','#BC0900','#000000','#FFFFFF'],
      backgroundColor: '#111827', // gray-900
  
    });

    // Load the GCODE
    preview.processGCode(gcode);
  }
</script>